---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Body from '../../components/Body.astro';
import Content from '../../components/Content.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="pt-[64px]">
      <Content className="mb-6">
        <section>
          <ul class="grid grid-cols-1">
            {
              blogs.map((blog: any) => (
                <li class="relative flex gap-6 text-left pb-4">
                  <div class="before:absolute before:left-[5.5px] before:h-full before:w-[1px] before:bg-zinc-900 before:dark:bg-zinc-300 transition-colors duration-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="bi bi-circle-fill fill-zinc-900 dark:fill-zinc-300 transition-colors duration-500" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </div>
                  <div class="flex flex-col">
                    <FormattedDate className="text-sm opacity-70 mb-2" date={blog.data.pubDate} />
                    <a href=`/blog/${blog.slug}`>
                      <div class="flex flex-row gap-4">
                        <div>
                          <div class="mb-1 text-xl">{blog.data.title}</div>
                          <div class="opacity-70">{blog.data.description}</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
