---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import MastHead from '../components/MastHead.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import { Image } from '@astrojs/image/components';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';

const blogs = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 4);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="pt-[56px]">
      <MastHead />
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Hello my curious friend. I am pretty sure you reached this home page of
            my personal blog for checking out my posts or my projects and I really
            appreciate it. I am a curious kid like you too. I hope you find some valuable
            gems in here which will help you in your journey to become a good developer.
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              blogs.map((blog: any) => (
                <li class="text-center mb-4">
                  <Image class="border border-slate-300 dark:border-zinc-700 rounded-xl" src={blog.data.heroImage} width={720*2} aspectRatio={2.0} alt="Thumbnail"/>
                  <a href=`/blog/${blog.slug}`>
                    <div class="mt-3 text-xl">{blog.data.title}</div>
                    <div class="opacity-70">{blog.data.description}</div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
