---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const projects = [
  {
    name: "Relay Server",
    description: "A smart switch array with a web interface.",
    tags: ["rust", "html", "vanillajs", "arduino"],
    codebase: "https://github.com/serenevoid/relay-server"
  },
  {
    name: "kiwi.nvim",
    description: "A lightweight note-taking plugin for neovim.",
    tags: ["lua"],
    codebase: "https://github.com/serenevoid/kiwi.nvim"
  },
  {
    name: "Boarder",
    description: "A cli tool to archive 4chan threads.",
    tags: ["go", "html"],
    codebase: "https://github.com/serenevoid/boarder"
  },
  {
    name: "Seat Reservation Server",
    description: "A simple seat booking server for transport vehicles.",
    tags: ["go", "docker", "PostgreSQL"],
    codebase: "https://github.com/serenevoid/booking-server"
  },
  {
    name: "count-api",
    description: "A clone of count API service(archived) with built-in Key-Value DB.",
    tags: ["go"],
    codebase: "https://github.com/serenevoid/count-api"
  },
  {
    name: "Discord Random Chat Bot",
    description: "A discord bot that enables two strangers to chat anonymously within discord.",
    tags: ["go", "boltDB"],
    codebase: "https://github.com/serenevoid/random-chat-bot"
  },
  {
    name: "DocScan",
    description: "A Document scanner for PC.",
    tags: ["python", "OpenCV"],
    codebase: "https://github.com/serenevoid/docscan"
  }
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
		<main class="mt-4 sm:pt-[64px]">
      <Content className="px-4">
        <h2 class="text-3xl font-semibold">Projects</h2>
        <hr class="border-top border-zinc-400 my-4"/>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              projects.map((project: any) => (
                <li class="relative flex gap-6 text-left pb-4">
                  <div class="border-l-2 border-orange-300 h-full w-1"></div>
                  <div class="flex flex-col">
                    <a href={project.codebase} class="mb-1">
                      <div class="text-xl hover:text-orange-600 dark:hover:text-orange-300">{project.name}</div>
                      <div class="text-sm hover:text-orange-600 dark:hover:text-orange-300">{project.description}</div>
                    </a>
                    <div class="mb-1 text-lg flex gap-2">{
                      project.tags.map((tag: string) => (
                        <div class="underline rounded-md font-mono text-sm opacity-90"><code>#{tag}</code></div>
                      ))
                    }</div>
                  </div>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
		</main>
		<Footer />
	</Body>
</html>
