---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = 'https://drive.google.com/uc?export=view&id=1ZuKxvjAA7B__B4K4C0kLe5WGYaBf1oCs' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
  } else {
    document.documentElement.classList.add('dark')
  }
</script>

<script is:inline>
  function send_data() {
    var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
    var path = window.location.pathname;
    document.getElementById("form_URL").value = path;
    document.getElementById("form_timezone").value = timezone;
    if (window.location.hostname != "localhost")
      document.getElementById("form_submit").click();
  }
  function close_analytics() {
    document.getElementById("form_hidden").remove();
    document.getElementById("iframe_hidden").remove();
  }
  setTimeout(send_data, 2);
  setTimeout(close_analytics, 4);
</script>

<form id="form_hidden" target="iframe" class="hidden" method="post" action="https://docs.google.com/forms/d/e/1FAIpQLSfQLW-njs_qiQTSVafurO1j5MVtFpmK2TjhWcrXtxMkkoqefw/formResponse">
  <input id="form_timezone" name="entry.417282401" />
  <input id="form_URL" name="entry.291024926" />
  <button id="form_submit" name="submit" type="submit"></button>
</form>

<iframe id="iframe_hidden" class="hidden" name="iframe"></iframe>
