---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE, SITE_COLOR } from "../consts";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = 'https://u.cubeupload.com/serenevoid/6JqlpX.png' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="theme-color" content={SITE_COLOR}>

<!-- Open Graph / Facebook -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content={SITE_TITLE}>
<meta property="og:web:url" content={Astro.url} />

<!-- Twitter -->
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:cta" content=`Read on ${Astro.url}`>

<script is:inline>
  if (window.location.hostname == "serenevoid.github.io") {
    const url = "https://script.google.com/macros/s/AKfycbw-LIz_aqIIvDiul-95Tc32Zgm1jAL4IseZ69bEeu0WaLnwF37JWQo2SrhAiKJ78eOr/exec";
    const path = window.location.pathname.replaceAll("\/", "zzz");
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone.replaceAll("\/", "zzz");
    let rf = document.referrer;
    if (rf.includes(window.location.hostname)) {
      rf = "";
    } else {
      rf = rf.replaceAll("\/", "zzz");
    }
    const hook = url + "?path=" + path + "&tz=" + tz + "&rf=" + rf;
    const req = new XMLHttpRequest();
    req.open("GET", hook, true);
    req.send();
  }
</script>
