---
import { collections } from "../content/config"
export interface props {
  className?: string
  blogs: typeof collections
}
import FormattedDate from '../components/FormattedDate.astro';

const { className = '', blogs = [] } = Astro.props
---
<section>
  <ul class="grid grid-cols-1">
    {
      blogs.map((blog: any) => (
        <li class="relative flex gap-6 text-left pb-4">
          <div class="border-l-2 border-orange-300 h-full w-1"></div>
          <div class="flex flex-col">
            <FormattedDate className="text-sm opacity-70 mb-2" date={blog.data.pubDate} />
            <a href=`/blog/${blog.slug}` class="mb-1">
              <div class="flex flex-row gap-4">
                <div>
                  <div class="text-xl hover:text-orange-600 dark:hover:text-orange-300">{blog.data.title}</div>
                </div>
              </div>
            </a>
            <div class="mb-1 text-lg flex gap-2">{
              blog.data.tags.map((tag: string) => (
                <a href=`/tags/${tag}`>
                  <div class="underline rounded-md font-mono text-sm opacity-90"><code>#{tag}</code></div>
                </a>
              ))
            }</div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
