---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import BlogNavigator from '../components/BlogNavigator.astro';
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<Body>
		<Header />
		<main class="sm:pt-[64px]">
      <Content className="pt-6">
        <div class="mb-8 mx-6">
          <hr class="border-top border-zinc-400 my-4"/>
          <div class="flex items-center gap-2">
            <h1 class="text-4xl font-bold md:text-4xl prose porse-zinc dark:prose-invert max-w-none px-4 my-2 border-l-4 border-orange-500 transition-colors duration-150">{title}</h1>
          </div>
          <hr class="border-top border-zinc-400 my-4"/>
          <div>{description}</div>
          <FormattedDate className="opacity-70" date={pubDate} />
          <hr class="border-top border-zinc-400 my-4"/>
          <div class="prose porse-zinc dark:prose-invert md:prose-lg max-w-none prose-img:rounded-lg prose-code:before:hidden prose-code:after:hidden">
            <slot />
          </div>
        </div>
      </Content>
      <h3 class="text-xl font-bold w-fit m-auto mb-4">* * *</h3>
      <h3 class="text-xl font-bold max-w-3xl m-auto px-6 mb-2">Other blog posts you might like:</h3>
      <div class="m-auto max-w-3xl px-6">
        <BlogNavigator currentTitle={title}/>
      </div>
    </main>
    <Footer />
	</Body>
</html>
